.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 550px;

  background: #141414;
}

.banner {
  width: 100%;
  /* или задай конкретную высоту */
  background-image: url("../assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 4px
}

.title h1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title h3 {
  opacity: 0.5;
}
