* {
  font-family: Inter;
  color: #fff;

  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0
}

*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background: #000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
